@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

// Variables
$primary-bg: #001831;
$secondary-bg: #014288;
$white: #fff;
$black: rgba(0, 0, 0, 0.1);
$dark-gray: #333;
$light-gray: rgba(0, 0, 0, 0.1);
$danger: #929292;

body, h1, h2, h3, p, select {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  color: $white;
  background: linear-gradient(135deg, $primary-bg, $secondary-bg);
  transition: background-color 0.5s ease;

  .container {
    background: linear-gradient(135deg, rgba($white, 0.5), rgba($white, 0.9));
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px $black;
    color: $dark-gray;
    transition: all 0.4s ease-in-out;
    animation: slideInFromLeft 1s ease-out;

    &:hover {
      transform: scale(1.01);
    }

    .info-box {
      animation: none !important;
      @extend .container;
      padding: 10px;
      color: $dark-gray;
      text-align: center;
    }
  }

  .bg-primary {
    background: linear-gradient(135deg, rgba($secondary-bg, 1) ($primary-bg, 1)) !important;
  }
}

// Headers
h1, h2, h3 {
  font-weight: 700;
}

// Paragraphs and Selects
p, select {
  font-weight: 400;
}

// Form Select
.form-select {
  border-radius: 10px;
}

// List Group Hover
.list-group-item-action {
  &:hover {
    background-color: $danger;
  }
}

// Keyframes
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

// Focused Inputs
input:focus, select:focus, button:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}
